:root {
    --scrollbar-width: 5px;
    --scrollbar-color: rgba(0, 0, 0, 0.5);
    --scrollbar-bg-color: rgba(0, 0, 0, 0.1);

    --max-width: min(70rem, 100%);
    --min-width: min(33rem, 100%);

    --text: rgb(19, 1, 8);
    --text-light: rgb(255, 255, 255);
    --background: rgb(253, 250, 255);
    --primary: rgb(153, 1, 254);
    --secondary: rgb(224, 179, 255);
    --accent: rgb(137, 1, 228);

    --gradient-bg: linear-gradient(
        135deg,
        var(--primary) 0%,
        var(--accent) 11%,
        var(--secondary) 100%
    );
    /* background: linear-gradient(135deg, rgba(11, 6, 105, 1) 0%, rgba(9, 9, 121, 1) 11%, rgba(0, 212, 255, 1) 100%); */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    height: 100%;

    background: var(--gradient-bg);
}

body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: calc(var(--max-width) * 1.5);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Josefin Sans", sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    width: 100%;
    height: min(calc(100% - 1rem), 65rem);

    margin: 0.5rem;
    padding-block: 2rem;
    border-radius: 1rem;

    background: var(--background);
}

.layout-column {
    padding-top: 0.5rem;
    padding-inline: 1rem;
    max-width: 100%;
    min-width: var(--min-width);
    border-right: 1px solid var(--secondary);

    overflow-y: auto;
}

.layout-column:last-child {
    border-right: none;
}

.layout-row {
    grid-column: span 2;

    display: flex;
    align-items: baseline;

    border-bottom: 1px solid var(--secondary);

    /* padding-bottom: 0.5rem; */
    margin-top: -0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
    margin-inline: 1rem;
}

.layout-row img {
    display: inline;
    margin: 0;
    margin-right: 0.5rem;
    height: 2.5rem;
    width: auto;
}

.layout-row h1 {
    display: inline;
    font-size: 2.2rem;
    padding: 0;
}

/* If sceen size is smaller than ((2 * min-width) + extra) */
@media (max-width: 95rem) {
    body {
        width: var(--max-width);
    }

    main {
        display: block;

        margin: 0;
        padding-inline: 1rem;
        border-radius: 0;

        /* For Scrollbar */
        height: auto;
        max-height: 100%;
        overflow: auto;
    }

    main.keyboard-active {
        padding-bottom: 50vh;
    }

    .layout-column {
        border: none;
        max-width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 0.5rem;
    }

    .window > div {
        box-shadow: none !important;
    }

    .window.window-active {
        backdrop-filter: none !important;
    }

    #load-rom-window {
        padding: 0;
        align-items: end;
    }

    #load-rom-window > div {
        max-height: 85%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    /* #keyboard-container {
        /* width: 100vw; * /
        /* max-width: none !important; * /
        max-width: var(--max-width) !important;
        max-height: 50vh;
        padding: 0;
        position: fixed;
        bottom: 0;
        /* left: 0; * /
    } */

    /* #keyboard {
        margin: auto !important;
    } */
}

noscript {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--gradient-bg);
    color: var(--text-light);
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    z-index: 100;
}

.hidden {
    display: none !important;
}

/* Scrollbar */

* {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
    scrollbar-width: var(--scrollbar-width);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: var(--scrollbar-bg-color);
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: var(--scrollbar-color);
}

/* Material Icons */

/* Rules for sizing the icon. */
.material-icons-round.md-18 {
    font-size: 18px;
}

.material-icons-round.md-24 {
    font-size: 24px;
}

.material-icons-round.md-36 {
    font-size: 36px;
}

.material-icons-round.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons-round.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons-round.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons-round.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons-round.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* Tables */

.table-container {
    max-height: 40rem;
    min-height: 1rem;

    margin: 0.5rem;
    margin-top: 0;
    margin-left: 0;

    /* resize: both; */
    overflow: auto;
}

.hex-table {
    font-family: "Courier Prime", monospace;
    text-transform: uppercase;

    border-right: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    border-collapse: separate;
    border-spacing: 0;
}

.hex-table thead tr th {
    border-top: 1px solid var(--secondary);
    position: sticky;
    top: 0;
    z-index: 1;
}

.hex-table tbody tr td:first-child {
    border-left: 1px solid var(--secondary);
    position: sticky;
    left: 0;
}

.hex-table thead th:first-child {
    border-left: 1px solid var(--secondary);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
}

.hex-table th,
.hex-table td {
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

.hex-table th,
.hex-table td:first-child {
    background-color: var(--secondary);
    color: var(--text);

    user-select: none;
    font-weight: normal;
}

.hex-table td:not(:first-child) {
    user-select: text;
    cursor: default;
}

/* Pointer Highlights */

td[stack-pointer] {
    color: var(--text-light);
    background-color: var(--accent);

    font-weight: 100;
    position: relative;
}

/* td[stack-pointer]::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
} */

td[program-counter] {
    color: var(--text-light);
    background-color: var(--accent);
    font-weight: 100;
}

/* General Purpose CSS */

.window-item {
    max-width: calc(100% - 1rem);
    /* min-width: min(100%, min-content); */

    max-height: calc(100% - 1rem);
    /* min-height: min(100%, min-content); */

    margin-inline: 0.5rem;
}

.window {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;

    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.1);

    pointer-events: none;
    opacity: 0;

    will-change: opacity;
    transition: opacity 0.25s ease;
}

.window > div {
    position: relative;
    padding: 1rem;

    background-color: var(--background);
    border-radius: 1rem;
    border: 1px solid var(--background);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

    transform: translateY(40vh);
    will-change: transform;
    transition: transform 0.25s ease;
}

.window.window-active {
    pointer-events: all;
    backdrop-filter: blur(5px);
    transform: translateY(0);
    opacity: 1;
}

.window.window-active > div {
    transform: translateY(0);
}

.close-btn {
    position: absolute;
    padding: 0.5rem;
    border: none;
    background: var(--background);
    color: var(--text);
    border-radius: 100%;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.close-btn:hover {
    background: var(--accent);
    color: var(--text-light);
}

.close-btn:active {
    background: var(--primary);
    color: var(--text-light);
}

code {
    font-family: "Courier Prime", monospace;
    font-size: 0.8rem;
    white-space: nowrap;
    /* background-color: color-mix(in srgb, var(--secondary) 50%, var(--background) 50%); */
    padding-inline: 0.35rem;
    padding-block: 0.2rem;
    border-radius: 0.35rem;
}

var {
    font-family: "Courier Prime", monospace;
    font-size: 0.8rem;
    font-style: normal;
    color: color-mix(in srgb, var(--primary) 95%, black 5%);
    padding: 0.1rem;
    border-radius: 0.5rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    accent-color: var(--primary);
    margin-right: 0.25rem;
    transform: rotateX(180deg);
    transition: all 0.25s ease-out;
}

input[type="checkbox"]:checked {
    transform: rotateX(0deg);
}

input[type="checkbox"]:hover {
    accent-color: var(--accent);
    /* box-shadow: inset 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2); */
}

input[type="range"] {
    accent-color: var(--primary);
    width: 100%;
}

input[type="color"] {
    border: none;
    background: none;
    outline: none;
}

::-webkit-color-swatch-wrapper {
    background: none;
    padding: 0;
    overflow: hidden;
}

::-webkit-color-swatch {
    border-radius: 1rem;
}

/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type="number"] {
    accent-color: var(--primary);
    appearance: textfield;
    width: 10rem;
    height: 1.2rem;
    margin-left: 0.25rem;
    text-align: center;
}

input[type="number"]:focus {
    border-radius: 4px;
    border: 2px solid var(--primary);
    outline: none;
} */

/* Control Bar */

.control-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: var(--primary);
    color: var(--text-light);

    border-radius: 1rem;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

.control-bar div {
    display: flex;
}

.control-bar #controls {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    overflow: hidden;
}

.control-bar #info {
    height: auto;
    /* flex-grow: 2; */
    justify-content: end;
}

.control-bar #info div {
    margin-block: auto;
    margin-inline: 5px;
}

.control-bar button {
    margin: 0;
    padding: 0.1rem;
    padding-block: 0.2rem;
    padding-inline: 10px;

    border: none;
    background: rgba(0, 0, 0, 0);

    cursor: pointer;
    user-select: none;
}

.control-bar button:hover {
    box-shadow: inset 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

#debug-items-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* overflow: auto; */
}

#settings-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

#settings-container div {
    margin-block: 0.5rem;
    margin-inline: 1rem;
}

#settings-container button {
    margin-right: 0.5rem;
    margin-block: 0.5rem;
    padding: 0.5rem;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    border-radius: 5px;
}

#settings-container button:hover {
    background-color: var(--accent);
    color: var(--text-light);
}

#settings-container button:active {
    background-color: var(--primary);
    color: var(--text-light);
}

/* Screen */

#emulator-container {
    width: 100%;
}

#screen-container {
    max-height: 100%;
    /* max-width: 100%; */
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    overflow: auto;
    display: flex;
}

#screen {
    margin: auto;
    max-width: 100%;
}

/* Rom List */

#load-rom-window h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 1000;
    border-bottom: 1px solid var(--secondary);
    /* box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2); */

    position: sticky;
    /* z-index: 21; */
}

#load-rom-window > div {
    padding: 0;

    height: 100%;
    min-width: var(--max-width);

    overflow: hidden;
}

#rom-list {
    padding-bottom: 2rem;
    padding-inline: 2rem;
    padding-top: 1rem;

    height: calc(100% - 7rem);
    overflow: auto;

    display: grid;
    grid-auto-flow: dense;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
}

/* Rom Card */
.rom-card {
    padding: 0.5rem;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid #dfdede;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

    /* hover transition */
    transition: box-shadow 0.25s ease;
}

.rom-card a {
    color: var(--accent);
}

/* Card hover effect */
.rom-card:hover {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(39, 41, 44, 0.3);
}

.rom-card:active {
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
}

/* Rom Image */
.rom-card img {
    width: 100%;
    max-height: 100%;
}

/* Rom Title */
.rom-card-title {
    padding-inline: 0.5rem;
    padding-bottom: 0.25rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

/* Author name and event name in card */
.rom-card-author-event {
    padding-inline: 0.5rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    text-wrap: pretty;
}

/* Upload Rom */

#upload-rom-window > div {
    max-width: var(--max-width);
    max-height: 100%;
    width: 50rem;
    aspect-ratio: 2/1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    user-select: none;
}

#upload-rom-window > div > span {
    font-size: 5rem;
}
