:root {
    --scrollbar-width: 5px;
    --scrollbar-color: rgba(0, 0, 0, .5);
    --scrollbar-bg-color: rgba(0, 0, 0, 0.100);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(11, 6, 105);
    background: linear-gradient(135deg, rgba(11, 6, 105, 1) 0%, rgba(9, 9, 121, 1) 11%, rgba(0, 212, 255, 1) 100%);
}

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    width: min(70rem, 100%);
    min-height: 100%;
}

/* For keyboard */
.body-padded {
    padding-bottom: 50vh;
}

noscript {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, rgba(11, 6, 105, 1) 0%, rgba(9, 9, 121, 1) 11%, rgba(0, 212, 255, 1) 100%);
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    z-index: 20;
}

.hidden {
    display: none !important;
}

/* Scrollbar */

* {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
    scrollbar-width: var(--scrollbar-width);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: var(--scrollbar-bg-color);
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: var(--scrollbar-color);
}


/* Material Icons */

/* Rules for sizing the icon. */
.material-icons-round.md-18 {
    font-size: 18px;
}

.material-icons-round.md-24 {
    font-size: 24px;
}

.material-icons-round.md-36 {
    font-size: 36px;
}

.material-icons-round.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons-round.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons-round.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons-round.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons-round.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/* Tables */

.hex-table {
    font-family: 'Courier New', Courier, monospace;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 0;
}

.hex-table thead tr th {
    border-top: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 1;
}

.hex-table tbody tr td:first-child {
    border-left: 1px solid #ccc;
    position: sticky;
    left: 0;
}

.hex-table thead th:first-child {
    border-left: 1px solid #ccc;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
}

.hex-table th,
.hex-table td {
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.hex-table th,
.hex-table td:first-child {
    background-color: #f2f2f2;
    user-select: none;
}

.hex-table td:not(:first-child) {
    user-select: text;
    cursor: default;
}


/* Pointer Highlights */

td[stack-pointer] {
    color: white;
    background-color: rgb(54, 153, 199);
    font-weight: 100;
    position: relative;
}

/* td[stack-pointer]::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
} */

td[program-counter] {
    color: white;
    background-color: rgb(54, 153, 199);
    font-weight: 100;
}


/* General Purpose CSS */
.hex-edit {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.file-drop-zone.drop-zone-active {
    outline: 2px dashed #16c783;
}

.window {
    max-width: calc(100% - 1rem);
    min-width: min(100%, min-content);

    max-height: 30rem;
    min-height: 1rem;

    margin: 0.5rem;
    /* resize: both; */
    overflow: auto;
}

/* Control Bar */

.control-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.control-bar div {
    display: flex;
}

.control-bar #controls {
    border-radius: 5px;
    border: 1px solid #16c783;
    margin: 0.25rem;
    overflow: hidden;
}

.control-bar #info {
    height: auto;
    /* flex-grow: 2; */
    justify-content: end;
}

.control-bar #info div {
    margin-block: auto;
    margin-inline: 5px;
}

.control-bar button {
    margin: 0;
    padding: 1px;
    padding-inline: 10px;
    border: 1px solid #16c783;
    background-color: #3ab672;
    cursor: pointer;
    user-select: none;
}


#debug-items-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* overflow: auto; */
}

#settings-container {
    max-width: 100%;
    padding-left: 0.25rem;
    display: flex;
    flex-wrap: wrap;
}

#settings-container>button {
    margin: 0.25rem;
    padding: 0.5rem;
    border: 1px solid #16c783;
}

/* Screen */

#emulator-window {
    width: 100%;
}

#screen-container {
    max-height: 100%;
    max-width: 100%;
    padding: 0.5rem;
    background-color: black;
    overflow: auto;
    display: flex;
}

#screen {
    margin: auto;
    max-width: 100%;
}


/* Keyboard */

#keyboard-container {
    min-width: 100vw;
    max-height: 50vh;
    aspect-ratio: 3/2;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}

#keyboard {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    /* aspect-ratio: 3/2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    overflow: hidden;
    /* border: 1px solid rgb(79, 219, 142); */
}

#keyboard tr {
    width: 100%;
    height: calc(100%/4);
}

#keyboard td {
    padding: 0;
    box-sizing: content-box;
}

#keyboard button {
    /* cursor: pointer; */
    border: none;
    width: 100%;
    height: 100%;
    background-color: #16c783;
    border: 1px solid rgb(79, 219, 142);
    /* text-align: center; */
    /* padding-block: auto; */
    color: #ffffff;
}

#keyboard button:hover {
    background-color: rgb(79, 219, 142);
}

#keyboard button:active {
    background-color: #56e7a6;
}

/* Rom List */
#load-rom-window {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

#load-rom-window > div > h1 {
    text-align: center;
}

#hide-rom-list-btn {
    position: absolute;
    border: none;
    background: #FFFFFF;
    color: #abacab;
    border-radius: 100%;
    top: 1rem;
    right: 1rem;
}

#hide-rom-list-btn::after:hover {
    background: #1dac1d;
    color: #FFFFFF;
}

#load-rom-window > div {
    position: relative;
    padding: 1rem;
    max-width: min(70rem, 100%);
    max-height: 100%;
    background-color: #FFFFFF;
    overflow: auto;
}

#rom-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rom-card {
    width: 15rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #dfdede;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.rom-card img {
    width: 100%;
    max-height: 100%;
}

.rom-card-title {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

.rom-card-author-event {
    font-size: 0.75rem;
    text-wrap: pretty;
}